<?xml version="1.0" encoding="UTF-8"?>

<SDK_Config>
	<!-- 各个平台的id，以及秘钥，字段需要按顺序写 -->
	
	<!--分享-->
	<shareSDK   name="shareSDK"   		appid="113e940768ac8"          appSecret="a2a7117b52a8d496e305c76a13ce580e" />
	<shareSDK   name="sina"   			appid="3972980307"         	   appSecret="44f4fffcd989b2e8cd82a8e0fffbac9b" />
	<shareSDK   name="QQ"     			appid="200"         		   appSecret="1" />	
	<shareSDK   name="Wechat" 			appid="wxeeff941b326915b2"     appSecret="1ea45899335990891a782834a3135509" />
	
	<!-- BUGLY -->
	<buglySDK   name="buglySDK" 		appid="wxeeff941b326915b2"     appSecret="1ea45899335990891a782834a3135509" />
		
    <!-- TalkingData -->
	<TalkingSDK appid = "C025B822ADF7949414F39E929E469FB7" channelId = "1111"/>
	
</SDK_Config>

